<html>
  <head>
    <meta charset="utf-8" />
    <title> applicationRequirements </title>
  </head>
  <body>
    <h1> Application Requirements </h1>
    <features>
      <p> 1. Los usuarios podran encontrar posibles aparcamientos para su bici en Madrid.</p>
      <p> 2. Los usuarios podrán localizar un aparcabicis según su localización.</p>
      <p> 3. Los usuarios podrán saber cuantos aparcamietos existen cerca.</p>
      <p> 4. Los usuarios podrán filtrar los aparcamientos por distrito o barrio.</p>
    </features>
  </body>
</html>
